* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    font-size: .7rem;
    color: #FFFFFF;
    height: 100vh;
    display: flex;
}

p {
    margin: .2rem 0;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding-right: 2rem;
}

.left-wrapper {
    width: 65%;
    padding: 2rem 0;
    background-color: #0B0911;
}

.right-wrapper {
    width: 35%;
    padding: 2rem 0;
    background-color: #1C162C;
}

.text-wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-radius: 50%;
}

table, tr, td, th{
    border: none;
    border-collapse: collapse;
}

table.buttonsTable {
    background-color: #0B0911;
    width: 80%;
    height: 40%;
    text-align: center;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: .3rem solid #1C162C;
}

table.buttonsTable td,
table.buttonsTable th {
    padding: .5rem .05rem;
}

table.buttonsTable tbody td {
}

table.buttonsTable thead {
    background: #1C162C;
}

table.buttonsTable thead th {
    font-family: 'Roboto', sans-serif;
    font-size: .5rem;
    font-weight: lighter;
    text-align: center;
    
}


.left-column {
    background-color: #1C162C;
    font-family: 'Roboto', sans-serif;
    font-size: .5rem;
    font-weight: lighter;
    text-align: center;
}

button {
    text-transform: uppercase;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    padding: .5rem .5rem;
    border-radius: 1rem;
}